body{
  background-color: white;
  height: 1020px;
  width: 14080;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.page {
  background-color: white;
  flex: 100;
}


nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  background-color: tomato;
  height: 100px;
  flex:5;
  
}

.navitems{
  display: flex;
  
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  color:white;
  word-spacing: 50%;

}

.above {
  height: 100px;
  flex: 5;
  background-color: white;
  justify-content: above;
  
}

.beneath {
  height: 100px;
  flex: 5;
  background-color: white;
  
}



